@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #FFF;
  font-size: 20px;
}

.header {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 33;
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e62107;
  padding: 0 50px;
}
.header__tel a {
  color: #FFF;
  font-size: 25px;
}
.header__tel a:hover {
  text-decoration: underline;
}

.categories-menu {
  width: 50%;
  max-width: 500px;
}
.categories-menu__links {
  display: flex;
  justify-content: space-between;
}
.categories-menu__links li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 20px;
}

.menu-ico {
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
}

.cart-btn {
  position: relative;
}

.cart-number {
  position: absolute;
  left: 50px;
  top: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: red;
  text-align: center;
  line-height: 27px;
}

.slider {
  position: relative;
}
.slider__img {
  width: 100%;
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 10;
  font-size: 0;
  width: 50px;
  height: 90px;
  background-color: rgba(255, 255, 255, 0);
}
.slider .slick-arrow.slick-next {
  left: 50px;
}
.slider .slick-arrow.slick-next:before {
  content: "";
  display: block;
  width: 5px;
  height: 60px;
  background-color: red;
  transform: rotate(45deg);
  position: absolute;
  top: -5px;
  left: 20px;
}
.slider .slick-arrow.slick-next:after {
  content: "";
  display: block;
  width: 5px;
  height: 60px;
  background-color: red;
  transform: rotate(-45deg);
  position: absolute;
  top: 35px;
  left: 20px;
}
.slider .slick-arrow.slick-prev {
  right: 50px;
}
.slider .slick-arrow.slick-prev:before {
  content: "";
  display: block;
  width: 5px;
  height: 60px;
  background-color: red;
  transform: rotate(-45deg);
  position: absolute;
  top: -5px;
  left: 20px;
}
.slider .slick-arrow.slick-prev:after {
  content: "";
  display: block;
  width: 5px;
  height: 60px;
  background-color: red;
  transform: rotate(45deg);
  position: absolute;
  top: 35px;
  left: 20px;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.page {
  background: url("..//img/background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 0 100px;
  background-attachment: fixed;
}

.top-sales {
  width: 100%;
  background-color: #181818;
}

.grid {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.grid__item {
  margin-top: 60px;
}

.product-ticket {
  max-width: 335px;
  border-right: 2px solid #fff;
  height: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}
.product-ticket__img {
  margin-bottom: 20px;
  width: 295px;
  height: 295px;
}
.product-ticket_nme {
  text-align: center;
  margin-bottom: 20px;
}
.product-ticket__weight-selection-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1 1 auto;
}
.product-ticket__weight-selection-item {
  width: 70px;
  height: 30px;
  border: 1px solid #fff;
  text-align: center;
  line-height: 30px;
  margin: 0 10px;
  margin-bottom: 20px;
}
.product-ticket__composition-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product-ticket__composition-item {
  position: relative;
  margin: 0 10px;
  margin-bottom: 20px;
}
.product-ticket__composition-item:hover .product-ticket__description {
  display: block;
}
.product-ticket__composition-ico {
  width: 35px;
  height: 35px;
}
.product-ticket__description {
  display: none;
  width: 90px;
  height: 15px;
  position: absolute;
  left: 50%;
  top: -15px;
  transform: translate(-50%, 0);
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  background-color: red;
  border-radius: 4px;
}
.product-ticket__input-row {
  display: flex;
  margin-bottom: 20px;
}
.product-ticket__input-quantity {
  display: flex;
  margin-right: 50px;
}
.product-ticket__plus-btn {
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
  text-align: center;
  line-height: 31px;
  margin-right: 2px;
}
.product-ticket__quantity-edit {
  height: 35px;
  width: 40px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
}
.product-ticket__minus-btn {
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
  text-align: center;
  line-height: 29px;
  margin-left: 2px;
}
.product-ticket__bay-btn {
  background-color: red;
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  padding: 7px;
  transition: all 0.5s;
}
.product-ticket__bay-btn:hover {
  background-color: green;
}